<mat-toolbar class="flex-header" color="primary">
  <div>
    <img
      width="125"
      class="logo-img"
      src="../assets/img/PatientControll.png"
      alt=""
    />
  </div>
  <ul>
    <li>
      <a routerLink="home">Home</a>
    </li>
    <li>
      <a routerLink="register">Register</a>
    </li>
    <li>
      <a routerLink="see-all">See All</a>
    </li>
  </ul>
  <div>
    <ul>
      <li>
        <img class="logo-img" src="http://lorempixel.com.br/45/45" alt="" />
      </li>
      <li>
        <span>Robson Do Wanderson</span>
        <mat-icon>logout</mat-icon>
      </li>
    </ul>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
