<section class="first-container">
  <mat-card class="home-card" class="background primary">
    <mat-card-header>
      <h2>
        Here you can control all your <b>Patients</b> and <b>Dependents</b>.
      </h2>
    </mat-card-header>
    <mat-card-content>
      <div class="text-div">
        <p>
          Patient <span>Control</span> is a web service that helps manage
          patients and their dependents, providing comprehensive care and
          <span>peace of mind</span>.
        </p>
        <div class="button-div">
          <span class="line-button"
            ><button routerLink="register">Register Now</button></span
          >
        </div>
        <p>
          With our comprehensive suite of tools, you caneasily
          <span>easily</span> manage patient records, track appointments and
          medications, and communicate with patients and their dependents
          <span>all in one place</span>.
        </p>
      </div>
      <div class="img-div">
        <h4>Customer very satisfied with our services</h4>
        <img class="logo-img" src="http://lorempixel.com.br/400/400" alt="" />
      </div>
    </mat-card-content>
  </mat-card>
</section>
