<mat-drawer-container class="example-container">
  <mat-drawer class="side-home" mode="side" opened>
    <div class="content-side-home">
      <ul>
        <li><mat-icon>menu</mat-icon>Minha conta</li>
        <li><mat-icon>shopping_bag</mat-icon>Compras</li>
        <li><mat-icon>sell</mat-icon>Vendas</li>
        <li><mat-icon>storefront</mat-icon>Mercado Shops</li>
        <li><mat-icon>play_circle</mat-icon>Video e Musica</li>
        <li><mat-icon>receipt</mat-icon>Faturamento</li>
        <li><mat-icon>account_circle</mat-icon>Meu Perfil</li>
        <li><mat-icon>settings</mat-icon>Configurações</li>
      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>
