<mat-drawer-container class="example-container">
  <mat-drawer class="side-home" mode="side" opened>
    <div class="content-side-home">
      <ul>
        <li><mat-icon>menu</mat-icon>Minha conta</li>
        <li><mat-icon>shopping_bag</mat-icon>Compras</li>
        <li><mat-icon>sell</mat-icon>Vendas</li>
        <li><mat-icon>storefront</mat-icon>Mercado Shops</li>
        <li><mat-icon>play_circle</mat-icon>Video e Musica</li>
        <li><mat-icon>receipt</mat-icon>Faturamento</li>
        <li><mat-icon>account_circle</mat-icon>Meu Perfil</li>
        <li><mat-icon>settings</mat-icon>Configurações</li>
      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content-main-home">
    <mat-card class="card-list">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Alejandro Silveira Ramos</mat-card-title>
        <mat-card-subtitle>Sr. Ramos</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="card-list">
      <ul>
        <li>
          <mat-icon>account_circle</mat-icon>
          <span>Meu Dados</span>
        </li>
        <mat-divider></mat-divider>
        <li>
          <mat-icon>lock</mat-icon>
          <span>Segurança</span>
        </li>
        <mat-divider></mat-divider>
        <li>
          <mat-icon>credit_score</mat-icon>

          <span>Meus cartões</span>
        </li>
        <mat-divider></mat-divider>
        <li>
          <mat-icon>location_on</mat-icon>
          <span>Endereços</span>
        </li>
        <mat-divider></mat-divider>
        <li>
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Privacidade</span>
        </li>
        <mat-divider></mat-divider>
        <li>
          <mat-icon>chat</mat-icon>
          <span>Comunicações</span>
        </li>
        <mat-divider></mat-divider>
        <li>
          <mat-icon>currency_exchange</mat-icon>
          <span>Assinaturas</span>
        </li>
      </ul>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
